*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  box-sizing: border-box;
}

/* body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
} */

.aboutContainer{
    /* min-height: 100vh; */
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
  }

  .logoContainer{
    height:auto;
    width: 90%;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .logoContainer > img{
    height: 140px;
    width: 450px;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }

.about-section{
  background: url(./about.JPG) no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
  position: absolute;
  top: 940px;
}

.inner-container{
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-size: 15px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
  border-style: solid;
  padding: 10px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

.aboutContainer > .about-section > .inner-container > p{
color: black;
}

.aboutContainer > .about-section > .inner-container > h1{
  color: black;
  font-size: 19px;
  font-weight: 200;
  margin-bottom: 5px;
}

@media screen and (max-width:1200px){
  .inner-container{
      padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
      background-size: 100%;
      padding: 100px 40px;
  }
  .inner-container{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
      padding: 0;
  }
  .inner-container{
      padding: 60px;
  }
}

@media (min-width: 320px) and (max-width: 480px){
  .logoContainer > img {
  height: 70px;
  width: 230px;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.aboutContainer{
  position: absolute;
  top: -180px;
  width: 100%;
}
.inner-container{
  padding: 10px;
}
}

@media (min-width: 768px) and (max-width: 1023px){
  .aboutContainer{
    position: absolute;
    top: -135px;
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1443px){
  .about-section{
    position: absolute;
    top: 800px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  
  .aboutContainer{
    top: 950px;
    }
  
}