.bigBanner{
  display: flex;
  width: 100%;
  height: 400px;
  top: 405px;
  position: absolute;
  background: white;
  padding: 0 5%
}

.textAnimation{
  width: 50%;
  display: block;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.bigBanner > .textAnimation > .textWrapper{
  /* display: none; */
}

.bannerImage{
  width: 50%;
}

.bannerImage > img{
  width:100%;
  height:100%;
}

.slider-wrapper {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 50px;
  padding-left: 15px;
  /* hide the text */
  overflow: hidden;
}

.slider div {
  color: white;
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 15px;
  text-align: center;
  /* to make it perfectly align */
  box-sizing: border-box;
}

.slider-text1 {
  background: #5290f9;
  animation: slide 8s linear infinite;
}
.slider-text2 {
  background: #5290f9;
}
.slider-text3 {
  background: #5290f9;
}
.slider-text4 {
  background: #5290f9;
}

@keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}
/* 
  ##Device = Desktops  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  /* CSS */
}

/* 
  ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
 ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  
.bigBanner{
  padding: 10px;
  display: block;
  position: absolute;
  top: 270px;
}

.bigBanner > .textAnimation > .textWrapper > h1{
  color: black;
  font-size: 25px;
}
  
.textAnimation {
  width: 100%;
  display: block;
  justify-content: center;
  text-align: center;
  margin: auto;

  /* neumorphic */
  align-items: center;
  /* background-color: #afd275; */
  background-color: white;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(20, 17, 17, 0.3);
  border-radius: 15px;
  /* display: flex; */
  height: 140px;
  padding-top: 25px;
  /* height: 100%; */
  justify-content: center;
  /* margin-right: 4rem; */
  /* width: 200px; */
}
.slider-text1, .slider-text2, .slider-text3, .slider-text4{
  justify-content: center;
  text-align: center;
  background: black;
}

.bannerImage > img{
  padding-top: 10px;
  width: 300px;
  height: 330px;
}
}